<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <util:list id="globalMenu">
        <value>1. login</value>
        <value>2. view events</value>
        <value>3. register</value>
        <value> </value>
        <value>0. to exit</value>
        <value>**please login to buy a ticket</value>
    </util:list>

    <util:list id="sessionMenu">
        <value>1. add event*</value>
        <value>2. view events</value>
        <value>3. remove event*</value>
        <value>4. purchase a ticket</value>
        <value>5. view my tickets</value>
        <value>6. view purchased tickets*</value>
        <value> </value>
        <value>0. to log out</value>
        <value>*for admins only</value>
        <value> </value>
    </util:list>

</beans>